.homeelink:hover{
    background-color: #637e76;
    }

.navbar{
     margin-bottom: 80px;
    border: 5px solid rgb(17, 128, 17); 
    padding: 5px 90px;
     margin: 20px 500px 70px;  
     width:2cm;
     float: right;

     
}
.h2{
    padding: 5px 10px;
    padding-left: 100px;
    margin-top: 200px;
    margin: 90px;
}